.skill {
    height: 100%;
    justify-content: center;
    width: 30%;
    background-color: thistle;
    align-items: flex-end;
    display: flex;
}
.span {
    background-color: #000000;
    color: wheat;
}