.skill {
    height: 100%;
    justify-content: center;
    width: 30%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.span {
    background-color: #000000;
    color: wheat;
    text-align: center;
    width: 100%;
}
.img {
    display: flex;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .skill {
    margin-bottom:50px ;
    }
}