.block {
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(15, 15, 15));
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px black solid;
  position: relative;
}
.wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.iconBlock {
  display: flex;
}
.socialIcon {
  display: flex;
  border: 2px solid black;
  margin: 20px;
  border-radius: 30%;
  position: relative;
  opacity: 0.9;
}
.socialIcon:hover {
  display: flex;
  border: 2px solid white;
  margin: 20px;
  border-radius: 30%;
  opacity: 1;
}

.socialIcon a {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIcon img {
  width: 80%;
}
.data {
  color: #545454;
}

@media screen and (max-width: 626px) {
  .socialIcon {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .socialIcon {
    width: 50px;
  }
}
